body
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}
#conteiner
{
width: 70%;
padding: 1cm;
text-align: left;
border: 1px solid coral;
margin: 0 auto;
}
#container H1
{
font-size: 20px;
}